<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="https://share-dev.closeai.biz/auth/login?carid=35kvotlu">xxxxxx
      <img
        alt="Endpoint Badge"
        src="https://img.shields.io/endpoint?url=https%3A%2F%2Fshare-dev.closeai.biz%2Fendpoint%3Fcarid%3D35kvotlu&link=https%3A%2F%2Fshare-dev.closeai.biz%2Fauth%2Flogin%3Fcarid%3D35kvotlu"
    /></a>
  </body>
</html>
